<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口文档系统</title>
    <link rel="stylesheet" href="../static/css/content.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/navi.css">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="wrapper">

<!--<div class="nav-top">-->
<!--<div class="nav-title"><a onclick="alert('hello world');"><i class="icon iconfont">&#xe644;</i>-->
<!--<div>IDoc</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="nav-regist nav-right"><a onclick="alert('hello world');">注册</a></div>-->
<!--<div class="nav-login nav-right"><a onclick="alert('hello world');">登录</a></div>-->
<!--</div>-->


<!--<div class="content">-->
<!--<div class="sidebar">-->
<!--<div class="dir">-->
<!--<span class="dir-logo">》</span>个人中心-->
<!--</div>-->
<!--<div class="dir-content">-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--</div>-->
<!--<div class="dir">-->
<!--<span class="dir-logo">》</span>登录注册-->
<!--</div>-->
<!--<div class="dir-content">-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--<div class="dir ele">-->
<!--个人中心-->
<!--</div>-->
<!--</div>-->
<!--<div class="dir">-->
<!--<span class="dir-logo">》</span>日志模块-->
<!--</div>-->
<!--<div class="dir">-->
<!--<span class="dir-logo">》</span>个人中心-->
<!--</div>-->
<!--<div class="dir">-->
<!--<span class="dir-logo">》</span>个人中心-->
<!--</div>-->
<!--</div>-->

<!--<div class="interface">-->
<!--<iframe src="http://www.baidu.com"></iframe>-->
<!--</div>-->
<!--</div>-->


<nav class="gn-nav">
    <div class="nav-icon icon-logo">iDoc</div>
    <button type="button" class="nav-btn">
        <img src="http://themetrace.com/demo/bracket/images/photos/loggeduser.png" alt="">
        Vincent
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>设置</li>
        <li>退出</li>
    </ul>
</nav>
<div class="gn-body">
    <aside class="g-b-left">
        <ul class="nav">
            <li>First
                <i class="caret"></i>
            </li>
            <ul class="nav">
                <li>Second</li>
            </ul>
        </ul>
    </aside>
    <main class="g-b-right"></main>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/sidebar.js"></script>
</body>
</html>